.App {
    background-color: #454545; 
}

.drum-pads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 2px 2px 2px 1px black;
    padding: 20px;
    background-color: rgba(45, 45, 45, 0.7);
    border: .2px solid black
}

button {
    padding: 50px;
    margin: 20px;
    background-color: darkgray;
    border: 1px solid white;
    border-radius: 10%;
    box-shadow: 3px 3px 15px 5px rgba(255, 255, 255, 0.7);
}

